---
# file: roles/docker/tasks/main.yml
- name: packages install
  yum: name={{item}} state=present
  with_items:
    - docker-io

- name: add docker system settings
  template: src=etc_sysconfig_docker.j2 dest=/etc/sysconfig/docker owner=root group=root mode=0644
  notify: docker restart

- name: add docker user settings
  template: src=etc_profile.d_enabledocker.sh.j2 dest=/etc/profile.d/enabledocker.sh owner=root group=root mode=0644

- name: enable docker service
  service: name=docker state=started enabled=yes
